@import "tailwindcss";

:root {
  --bg-primary: #fdfcf7;
  --bg-secondary: #6b8e23;
  --bg-tertiary: #c59d5f;

  /* Texte */
  --text-secondary: #c05340;
  --text-accent: #fac748;

  /* Bouton */
  --btn-primary: #a6a15e;
  --btn-hover: #d97a4f;

  /* Fonts */
  --font-title: var(--font-playfair);
  --font-text: var(--font-montserrat);
}

@theme inline {
  /* Background */
  --color-primary: var(--bg-primary);
  --color-secondary: var(--bg-secondary);

  /* Texte */
  --color-text-primary: var(--text-primary);
  --color-text-accent: var(--text-accent);

  /* Boutons */
  --color-btn-primary: var(--btn-primary);
  --color-btn-hover: var(--btn-hover);

  /* Fonts */
  --font-title: var(--font-playfair);
  --font-text: var(--font-montserrat);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #2b1a14;
    --text-primary: #ededed;
  }
}

@layer base {
  body {
    @apply bg-[var(--bg-primary)] text-[var(--text-primary)] font-[var(--font-text)];
  }

  p {
    font-size: 20px;
  }

  h1,
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
  }
}
