@import "tailwindcss";

:root {
  --bg-primary: #fdfcf7;
  --bg-secondary: #59a96a;
  --bg-tertiary: #cdc1ad;

  /* Texte D9835D   6b8e23*/
  --text-secondary: #499f68;
  --text-accent: #fac748;

  /* Bouton a6a15e */

  --btn-hover: #fac748;
  --btn-secondary: #e67e22;

  /* Fonts */
  --font-title: var(--font-playfair);
  --font-text: var(--font-montserrat);
}

@theme inline {
  /* Background */
  --color-primary: var(--bg-primary);
  --color-secondary: var(--bg-secondary);

  /* Texte */

  --color-main-text: var(--text-primary);
  --color-secondary-text: var(--text-secondary);
  --color-accent-text: var(--text-accent);

  /* Boutons */
  --color-btn-primary: var(--btn-primary);
  --color-btn-hover: var(--btn-hover);
  --color-btn-primary: var(--btn-secondary);
  --color-btn-hover: var(--btn-secondary-hover);

  /* Fonts */
  --font-title: var(--font-playfair);
  --font-text: var(--font-montserrat);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #6b8e23;
    --text-primary: #ededed;
  }
}

@layer base {
  body {
    @apply bg-[var(--bg-primary)] text-[var(--text-primary)] font-[var(--font-text)];
  }

  p {
    font-size: 20px;
  }

  h1,
  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }
}

@keyframes scan {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
.animate-scan {
  position: absolute;
  animation: scan 2s linear infinite;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}

.glass {
  backdrop-filter: blur(3px) saturate(180%);
  background: radial-gradient(circle, #fff9 0%, #ffdce64d 60%, #f9f2f4 100%);
  border: 1px solid #ff96b41a;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  display: flex;
}
.glass:where(.dark, .dark *) {
  display: flex;
  backdrop-filter: blur(2px) !important;
  background: radial-gradient(
    circle,
    #ffffff1a 0%,
    #1e00001a 60%,
    #2a0e0e 100%
  ) !important;
  border: 1px solid #ffffff0d !important;
  border-radius: 16px !important;
  justify-content: center !important;
  align-items: center !important;
}
