@import "tailwindcss";

:root {
  --bg-primary: #fdfcf7;
  --bg-secondary: #59a96a;
  --bg-tertiary: #cdc1ad;

  /* Texte D9835D   6b8e23*/
  --text-secondary: #499f68;
  --text-accent: #fac748;

  /* Bouton a6a15e */

  --btn-hover: #fac748;
  --btn-secondary: #e67e22;

  /* Fonts */
  --font-title: var(--font-playfair);
  --font-text: var(--font-montserrat);
}

@theme inline {
  /* Background */
  --color-primary: var(--bg-primary);
  --color-secondary: var(--bg-secondary);

  /* Texte */

  --color-main-text: var(--text-primary);
  --color-secondary-text: var(--text-secondary);
  --color-accent-text: var(--text-accent);

  /* Boutons */
  --color-btn-primary: var(--btn-primary);
  --color-btn-hover: var(--btn-hover);
  --color-btn-primary: var(--btn-secondary);
  --color-btn-hover: var(--btn-secondary-hover);

  /* Fonts */
  --font-title: var(--font-playfair);
  --font-text: var(--font-montserrat);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #6b8e23;
    --text-primary: #ededed;
  }
}

@layer base {
  body {
    @apply bg-[var(--bg-primary)] text-[var(--text-primary)] font-[var(--font-text)];
  }

  p {
    font-size: 20px;
  }

  h1,
  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }
}

@keyframes scan {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
.animate-scan {
  position: absolute;
  animation: scan 2s linear infinite;
}
